@mixin scrollBar($bg, $fore) {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: $bg;
    -webkit-box-shadow: inset 1px 1px 5px $fore;
  }
}
