@import "mixins.scss";
:root {
	--primiryColor: #48a167;
	--primiryColorDark: #377a4f;
	--colorAccent: #D42D00;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.tag {
	display: inline-block;
	background-color: #377A4F;
	padding: 5px 8px;
	color: white;
	border: 1px solid #377A4F;
	border-radius: 5px;
	cursor: pointer;
}
.span-break {
	width: 300px;
	white-space: pre-wrap;
	word-break: break-word;
	overflow: hidden;
}
input {
	border: 1px solid #377A4F;
	outline: none;
	padding: 6px 8px;
}
.button {
	border: none;
	padding: 8px 12px;
	border: 1px solid #377A4F;
	background-color: #377A4F;
	border-radius: 16px;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in;
	margin: 8px 16px;
}

button {
	margin: 8px 16px;
}

button {
  user-select: none;
}

.button:hover {
	border-radius: 8px;
	background-color: #48a167;
	border: 1px solid #48a167;
	box-shadow: rgb(6, 158, 6) 1px 1px 1px 1px;
}

.download-a {
  font-size: 1.2rem;
  display: block;
  height: 32px;
}

.page-container {
	padding: 16px;
	/*margin-top: 40px;*/
}
.scroll-bar {
	@include scrollBar(transparent, grey);
}

.scroll-bar-menus {
	@include scrollBar(transparent, grey);
}

.clearfix {
	clear: both;
}
// 清除右侧的浮动，浮动的元素会移动至下行
.clearfix-after {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.clearfix-before {
	&:before {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

pre {
	line-height: 1.35;
	overflow: auto;
	font-size: 14px;
}

.highlight {
	color: darkred;
	text-decoration: underline;
}

// 0.5px边框的实现
.line-t-e, .line-b-e {
	position: relative;
}
.line-t-e:after, .line-b-e:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	transform: scaleY(0.5);
	box-sizing: border-box;
	z-index: 10;
}
.line-t-e:after {
	background-color: #EEE;
	top: 0;
}
.line-b-e:before {
	background-color: #EEE;
	bottom: 0;
}

.ib-vm {
	display: inline-block;
	vertical-align: middle;
}

.flex-ver-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-ver-center-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.flex-hor-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

